<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="ru">

<head th:replace="fragments/base :: head(~{::title})">
    <title>Admin panel</title>
</head>
<body>

<div th:replace="fragments/base :: header"></div>

<div class="container-fluid d-flex flex-row vh-100 p-0">

    <div th:replace="fragments/base :: navigation-admin"></div>

    <div class="tab-content flex-grow-1 bg-light p-3">

        <div th:replace="fragments/admin-page :: admin-page"></div>

        <div th:replace="fragments/user-page  :: user-page (isActive=false)"></div>

    </div>
</div>

<style>

    .btn-group-vertical {
        width: 14.5vw;
        padding-top: 12px;
    }

    .btn {
        text-align: left;
    }

</style>

<div th:replace="fragments/base :: js"></div>

<script type="text/javascript" th:src="@{/js/script.js}"></script>

</body>
</html>
